<div class="blog-grid">
  <div class="blog-grid-img position-relative">
    <img alt="img" [src]="singlePost?.img" />
  </div>
  <div class="blog-grid-text p-4">
    <h3 class="h5 mb-3">
      <a (click)="goToSingle(singlePost)">{{ singlePost?.title }}</a>
    </h3>
    <p class="display-30">
      {{ singlePost?.body }}
    </p>
    <div class="meta meta-style2">
      <ul>
        <li>
          <a href="#!"
            ><i class="fas fa-calendar-alt"></i> {{ singlePost?.date }}
          </a>
        </li>
        <li>
          <a href="#!"><i class="fas fa-user"></i> User</a>
        </li>
        <li>
          <a href="#!"><i class="fas fa-comments"></i> 68</a>
        </li>
      </ul>
    </div>
  </div>
</div>
